.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    width: 100%;
    
   }
   
   .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
   }
   .navbar span
   {
    margin-right: 8px;
   }
   
   .navbar a:hover {
    background: rgb(151, 132, 255);
    color: black;
   }
   
   h1, h2
   {
    font-family:Noto Sans, serif;
    text-align: center;
   }
   p
   {
    margin-left: 5px;
   }
   html
   {
    font-family:Noto Sans, sans-serif;
    background-color: rgb(173, 168, 212);
   }
   footer
   {
    margin-top: 10px;
    overflow: hidden;
    background-color: #333;
    position: relative;
    color: #f2f2f2;
    height: 50px;
    
    width: 100%;
   }
   footer span
   {
    position: relative;
    top: 15px;
    left: 10px;
    color: rgb(251, 187, 244);
   }
   .img-box
   {
    background-color: rgb(149, 149, 149);
    margin: 15px;
    text-align: center;
    padding: 20px;
   }
   .img-box:hover
   {
    background-color: rgb(116, 116, 116);
   }
   .items
   {
    display: flex;
	justify-content:  center ;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
   }
   .item-1, .item-2, .item-3, .item-4, .item-5
   {
    width: 480px;
    margin: 20px;
   }

   